
body{
    background-color: lightblue;
    font-family: 'Courier New', Courier, monospace;
    word-spacing: 5px;
    letter-spacing: 2px;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    height: 100vh;
}

.converter{
    background-color: aquamarine;
    padding: 20px;
    border-radius: 6px;
    text-align: center;
}

h1{
    margin-bottom: 20px;
}

input[type="number"], select, button{
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 6px;
    border: 1px solid black;
    width: 100%;
}

button{
    background-color: blue;
    color: khaki;
    cursor: pointer;
}

button:hover{
    background-color: blueviolet;
}

#output{
    font-weight: bolder;
}